@font-face {
    font-family: MuseoSans;
    src: url('MuseoSans_500.otf');
}

body{
    font-family: MuseoSans, sans;
    font-weight: 800;
}
p{
    font-family: 'Open Sans';
}
.thankc{
    fill:#999;
}

#ALL_THE_THINGS{
    -moz-transform: scale3d(40,40,1) translate3d(100px,100px,0px);
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

#ALL_THE_THINGS.step1{
    -moz-transform: scale(1,1) translate(0px,0px);
}
#ALL_THE_THINGS.step2{
    -moz-transform: scale(40,40) translate(200px,100px);
}
