@font-face {
    font-family: MuseoSans;
    src: url('MuseoSans_500.otf');
}
html,body{
    margin: 0; padding: 0;
    overflow: hidden;
}
body{
    font-family: MuseoSans, sans;
    background: repeat-x url("img/page-background.png"), repeat-x url("img/footer-background.png") left bottom;
    color: #484848;
}


#scene{
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -300px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
}
.slide{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 800px;
    height: 600px;
    opacity:0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.6s;
}
.slide[active]{
    opacity: 1;
}


.slide > h3 {
    text-shadow: 2px 2px 0px #fff;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 30px;

    letter-spacing: -4px;
}





/******/


#logo{
    position: absolute;
    left: 300px;
    top: 154px;
}

.slide > h1{
    text-shadow: 2px 2px 0px #fff;
    text-align: center;
    margin-top: 75px;
    font-size: 50px;
    letter-spacing: -4px;
}
.slide > h2{
    text-shadow: 2px 2px 0px #fff;
    text-align: center;
    font-variant: small-caps;
    margin-top: 275px;
}
.item{
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.6s;
    opacity: 0;
}
li.item, li.itemnop{
    font-size: 20px;
}
.itemnop{
    display: block;
}

#years-container{
    width: 2000px;
    -moz-transition-property: margin-left;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: margin-left;
    -webkit-transition-duration: 0.6s;
}
.year{
    -moz-transition-property: color;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.6s;
    width: 275px;
    float:left;
    color: #aeaeae;
}
.year > h3{
    margin-left: 80px;
}
.year.yearactive{
    color: #484848;
}
.active, #footer.active{
    opacity: 1;
}
.yearmedia{
    position: absolute;
    opacity: 0;
    -moz-transform: scale(0.7,0.7);
    -moz-transition-property: -moz-transform, opacity;
    -moz-transition-duration: 0.6s;
    -webkit-transform: scale(0.7,0.7);
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.6s;
}
.yearmedia.active{
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    opacity:1;
}

#img-members{
    background: #fff;
    border: 20px solid #fff;
}
#tips-list{
    margin: 60px 0 0 30px;
    line-height: 45px;
}
#tips-list > li{
    font-size: 30px;
}
#videoslide{
    background-color: rgba(0,0,0,0);
    -moz-transition-property: background-color,opacity;
    -moz-transition-duration: 1s;
    -webkit-transition-property: background-color,opacity;
    -webkit-transition-duration: 1s;
}
#videoslide.slide-1{
    background-color: rgba(0,0,0,1);
}

#video{
    box-shadow: 0px 0px 10px #000;
    width: 640px;
    margin-left: 80px;
    margin-top: 120px;
    -moz-transition-property: width, margin,box-shadow;
    -moz-transition-duration: 1s;
    -webkit-transition-property: width, margin,box-shadow;
    -webkit-transition-duration: 1s;
}
#videoslide.slide-1 > #video{
    box-shadow: 0px 0px 0px #000;
    width: 800px;
    margin-left: 0px;
    margin-top: 75px;
}
#tnx{
    font-size: 70px;
    font-weight: normal;
    letter-spacing: normal;
    text-shadow: 2px 2px #ccc;
    margin-top: 250px;
}

#footer{
    height: 60px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.6s;
}
#footer > img{
    height: 55px;
    float: left;
    position: absolute;
    top: 2px;
    left: 30px;
}
#footer > h2{
    float: left;
    line-height: 60px;
    height: 60px;
    margin: 0;
    color: #fff;
    font-style: italic;
    margin-left: 90px;
}

#logo-mozpub{
    background-color:white;
}
#bicho{
    position: absolute;
    -moz-transition-property: -moz-transform, top, left;
    -moz-transition-duration: 0.6s;
    -moz-transform-origin: 0 0;
    -webkit-transition-property: -webkit-transform, top, left;
    -webkit-transition-duration: 0.6s;
}
@media screen and (max-height: 800px){
    body{
        background-size: auto, auto 100px;
    }
    #footer{
        height: 40px;
    }
    #footer > img{
        height: 37px;
    }
    #footer > h2{
        height: 40px;
        line-height: 40px;
    }
}
