@font-face {
    font-family: MuseoSans;
    src: url('MuseoSans_500.otf');
}

body{
    font-family: MuseoSans, sans;
    font-weight: 800;
}
p{
    font-family: 'Open Sans';
}
.thankc{
    fill:#999;
}

#ALL_THE_THINGS{
    -moz-transform: scale(10,10) translate(100px,-100px);
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

#ALL_THE_THINGS.step1{
    -moz-transform: scale(1,1) translate(0px,0px);
}
#ALL_THE_THINGS.step2{
    -moz-transform: scale(40,40) translate(200px,100px);
}
.cirq{
    width: 6px;
    height: 6px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
}
